<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<p>Do you want to travel to a safe place that has a small amount of criminal activity and natural disasters or are you willing to take a risk. <List dangerous and safe places to travel to, user can click one to find out more to open up a new set of questions></p>
	<form action=””>
		<input type="checkbox" name="safe" value="Safe">Safe<br>
		<input type="checkbox" name="safe" value="Risk">Risk<br>
	</form>
	
</body>
</html>