<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<p>Do you want access to cellular data wherever you go or just your hotel or doesn't matter?</p>
	<form action=””>
	<input type="checkbox" name="cell value="CellE">I want cellular data everywhere<br>
	<input type="checkbox" name="cell" value="CellH">Cellular data in the hotel is enough<br>
	<input type="checkbox" name="cell" value="CellN">Do not really need cellular data on my trip<br>
	</form>

</body>
</html>