<div id="Wrapper">
<div id="Header">
	<h1 style="color:#39CCCC">Danger</h3>
</div>

	<h2>Your Destination Was Chosen</h2>
	<h3>It seems you want to go to <%= @Destination["Destination"]%></h3>

	<%= @data %>
</div>