<div id="Wrapper">
<div id="Header">
	<h1 style="color:#39CCCC">Danger</h3>
</div>
	<h3 class="question">Do you mind being near dangerous animals during your trip?</h3>
	<form class="answer">
	<input type="checkbox" name="animal" value="AnimalY">I want to be far away from dangerous animals during my trip<br>
	<input type="checkbox" name="animal" value="AnimalN">It is fine if there are dangerous animals in my location during the trip<br>
	</form>
</div>