<div id="Wrapper">
<div id="Header">
	<h1 style="color:#39CCCC">Extra</h1>
</div>
	<h3 class="question">Has Water? (Open swimming)</h3>
	<form class="answer">
		<input type="checkbox" name="Water" value="true">Yes<br>
		<input type="checkbox" name="Water" value="false">No<br>
	</form>
	<h3 class="question">Has Snow</h3>
	<form class="answer">
		<input type="checkbox" name="Snow" value="true">Yes<br>
		<input type="checkbox" name="Snow" value="false">No<br>
	</form>
	<h3 class="question">Has Wildlife to see</h3>
	<form class="answer">
		<input type="checkbox" name="Wildlife" value="true">Yes<br>
		<input type="checkbox" name="Wildlife" value="false">No<br>
	</form>
</div>