<!-- <div id="Wrapper">
<div id="Header">
		<h1 style="color:#39CCCC"> Unknown Travel </h1>
</div>
	<h3 class="question">Don't Know Where You Wanna Go?</h3>
<<<<<<< HEAD
	<a href="/Population" class="button">Click Here</a>
=======
	<a href="/GenerateLocation" class="button">Click Here</a>
<!-- </div> -->
<!-- <div id="Question2"> -->
>>>>>>> 04b42879704a023ca940527b1909841d601357e1
	<h3 class="question">Already Know Where You Wanna Go?</h3>
	<a href="/Know" class="button">Click Here</a>
</div> -->

<!DOCTYPE html>
<html class="mainhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Future Travel Inc.</title>
        <script src="index.js"></script>
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="mainmenu">
<div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/KE8-flJJNT0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
<div id="vidtop-content">
<div class="vid-info">
<div class="bio">
<center>
	  <h1 class="cleartext" style="text-align:middle">Welcome to Future Travels</h1>
	  <p>Our simple web design will help you book your flight as quickly as possible. If you do not know where you wish to go then take our unique survey to find out now!<a href="/Population" style="margin:0px 0px 50px 0px">Survey</a>
     <p>Our simple to use website grants you the choice of navigating through our website at high speeds without any distractions. If you know where you want to go we will guide you step by step on how to book your flight and get the cheapest price during our sales.
	 <a href="/Know">Book my flight now, I have a destination in mind</a>
	 </center>
  </div>
  </div>
</div>
    </body>
</html>
<!-- https://www.youtube.com/watch?v=KE8-flJJNT0 -->
