
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="Expedia.css">
<title>Unknown Travel</title>
</head>
<body>

	<h1 class="title">Unknown Travel</h1>
	<p>Check the boxes of what family members you want to take a trip with and how many of each</p>
	<form>
	  Number of adults:<br>
	  <input type="text" name="numadults"><br>
	  Number of children above 7 years of age:<br>
	  <input type="text" name="numkid"><br>
	  Number of children below 7 years of age:<br>
	  <input type="text" name="numchild"><br>
	</form>

</body>
</html>

