<div id="Wrapper">
<div id="Header">
		<h1 style="color:#39CCCC"> Unknown Travel </h1>
</div>
<!-- <div id="Question1"> -->
	<h3 class="question">Don't Know Where You Wanna Go?</h3>
	<a href="/GenerateLocation" class="button">Click Here</a>
<!-- </div> -->
<!-- <div id="Question2"> -->
	<h3 class="question">Already Know Where You Wanna Go?</h3>
	<a href="/Book" class="button">Click Here</a>
<!-- </div> -->
</div>