
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="Expedia.css">
<title>Unknown Travel</title>
</head>
<body>

<h10 class="background1">
<div id="hacker">
	<h1 class="title">Unknown Travel</h1>

	<p>Check the boxes of what family members you want to take a trip with and how many of each</p>
	<form>
	  Number of adults:<br>
	  <input type="text" name="numadults"><br>
	  Number of children above 7 years of age:<br>
	  <input type="text" name="numkid"><br>
	  Number of children below 7 years of age:<br>
	  <input type="text" name="numchild"><br>
	</form>

	<p>Do you want to travel to a safe place that has a small amount of criminal activity and natural disasters or are you willing to take a risk. <List dangerous and safe places to travel to, user can click one to find out more to open up a new set of questions></p>
	<form action=””>
		<input type="checkbox" name="safe" value="Safe">Safe<br>
		<input type="checkbox" name="safe" value="Risk">Risk<br>
	</form>


	<p>Do you prefer a warm, hot, cold, rainy, or snowy weather. Click button to show which places have that weather which you can choose from.</p>
	<form action="">
		<input type="checkbox" name="weather" value="Hot">Hot<br>
		<input type="checkbox" name="weather" value="Cold">Cold<br>
		<input type="checkbox" name="weather" value=”Rainy”>Rainy<br>
		<input type="checkbox" name="weather" value=”Snowy”>Snowy<br>
	</form>
	</div>
</h10>

<h10 class="background2">
	<p>Do you want to travel to an English speaking location or a certain language?</p>

	<form>
	  Choose Language:<br>
	  <input type="text" name="language"><br>
	</form>


	<p>Do you want access to cellular data wherever you go or just your hotel or doesn't matter?</p>
	<form action=””>
	<input type="checkbox" name="cell value="CellE">I want cellular data everywhere<br>
	<input type="checkbox" name="cell" value="CellH">Cellular data in the hotel is enough<br>
	<input type="checkbox" name="cell" value="CellN">Do not really need cellular data on my trip<br>
	</form>

	<p>Do you want access to calling?</p>
	<form>
	<input type="checkbox" name="cell" value="CallY">Yes<br>
	<input type="checkbox" name="call" value="CallN">Do not really need cellular data on my trip<br>
	</form>


	<p>You need a flu shot for these listed locations, would you travel there and get one? It is recommended to stay healthy.</p>
	<form>
	<input type="checkbox" name="flu" value="FluY">Yes I will get a flu shot<br>
	<input type="checkbox" name="flu" value="FluYN">No I will not get a flu shot but still want to travel there<br>
	<input type="checkbox" name="flu" value="FluN">No I will not get a flu shot and want to go to a location that does not require flu shots<br>
	</form>
</h10>

<h10 class="background3">
	<p>Do you mind being near dangerous animals during your trip?</p>
	<form>
	<input type="checkbox" name="animal" value="AnimalY">I want to be far away from dangerous animals during my trip<br>
	<input type="checkbox" name="animal" value="AnimalN">It is fine if there are dangerous animals in my location during the trip<br>
	</form>

	<p>Do you require free wifi</p>
	<form>
	<input type="checkbox" name="wifi" value="WifiY">Yes, I would like free wifi at my hotel<br>
	<input type="checkbox" name="wifi" value="WifiN">Do not really need wifi<br>
	</form>

	
<ol>
	<li>Picture of location</li>
	<li>Restaurants near your chosen hotel</li>
	<li>Historical sites near your hotel</li>
	<li>Tourist attractions near your hotel</li>
	<li>Types of food in your location</li> 
	<li>Languages spoken</li>
	<li>Roads</li> 
	<li>Bus routes</li>
	<li>Hiking trails</li>
	<li>Hotspots for cellular and free wifi</li>
	<li>Weather forecasts</li> 
	<li>Coffee shops</li>
	<li>Restaurants</li> 
</ol>

<ol>
<li>Airport picture</li>
<li>What's near the airports
<li>What's inside the airports
<li>Recent pictures
<li>Taxi average costs from that airport
<li>Reviews on the airports and taxi companies
<li>Parking costs 
<li>Meet and greet services 
<li>Restaurants near airports (instead of eating airport and hotel food all the time)
<li>Airport food costs, it's usually expensive like theater food
</ol>
</h10>

</body>
</html>