<div id="Wrapper">
<div id="Header">
		<h1 style="color:#39CCCC">Book</h1>
</div>
	<h3 class="question">Fill out the forms below to book your flight.</h3>
<select>
  <option value="">Choose a City</option>
  <option value="Tokyo">Tokyo</option>
  <option value="Moscow">Moscow</option>
  <option value="Sydney">Sydney</option>
</select>

<select>
  <option value="">Choose a State</option>
  <option value="Washington">Washington</option>
  <option value="NewYork">New York</option>
  <option value="Florida">Florida </option>
</select>

<select>
  <option value="">Choose a Country</option>
  <option value="Japan">Japan</option>
  <option value="Russia">Russia</option>
  <option value="Australia">Australia</option>
</select>

	<a href="/Home" class="button">Go Home</a>
</div>