<div id="Wrapper">
<div id="Header">
		<h1 style="color:#39CCCC">Language</h1>
</div>
	<h3 class="question">Do you want the place to have a specific language, if so which one?.</h3>
	<form class="answer">
		<input type="checkbox" name="language" value="English">English<br>
		<input type="checkbox" name="language" value="French">French<br>
		<input type="checkbox" name="language" value=”Chinese”>Chinese<br>
		<input type="checkbox" name="language" value=”Russian”>Russian<br>
	</form>
	<a href="/Travelers" class="button">Next Page</a>
</div>