<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>



	<p>You need a flu shot for these listed locations, would you travel there and get one? It is recommended to stay healthy.</p>
	<form>
	<input type="checkbox" name="flu" value="FluY">Yes I will get a flu shot<br>
	<input type="checkbox" name="flu" value="FluYN">No I will not get a flu shot but still want to travel there<br>
	<input type="checkbox" name="flu" value="FluN">No I will not get a flu shot and want to go to a location that does not require flu shots<br>
	</form>
</h10>


</body>
</html>