<div id="Header">
	<h1>How much money do you plan on spending for the Trip</h1>
</div>
<div id="Main">
	<form action="">
		<input type="checkbox" name="money" value="$100-$300">$100-$300<br>
		<input type="checkbox" name="money" value="$400-$600">$400-$600<br>
		<input type="checkbox" name="money" value="$700-$1000">$700-$1000<br>
		<input type="checkbox" name="money" value="$1000-$5000">$1000-$5000<br>
	</form>
</div>