<div id="Header">
	<h1>Do you want the place to have a specific language, if so which one?.</h1>
</div>
<div id="Main">

	<form action="">
		<input type="checkbox" name="language" value="English">English<br>
		<input type="checkbox" name="language" value="French">French<br>
		<input type="checkbox" name="language" value=”Chinese”>Chinese<br>
		<input type="checkbox" name="language" value=”Russian”>Russian<br>
	</form>
</div>