<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<p>Do you mind being near dangerous animals during your trip?</p>
	<form>
	<input type="checkbox" name="animal" value="AnimalY">I want to be far away from dangerous animals during my trip<br>
	<input type="checkbox" name="animal" value="AnimalN">It is fine if there are dangerous animals in my location during the trip<br>
	</form>

</body>
</html>