<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<p>Do you require free wifi</p>
	<form>
	<input type="checkbox" name="wifi" value="WifiY">Yes, I would like free wifi at my hotel<br>
	<input type="checkbox" name="wifi" value="WifiN">Do not really need wifi<br>
	</form>


</body>
</html>