<div id="Wrapper">
	<div id="Header">
			<h1 style="color:#39CCCC">Population</h1>
	</div>
	<h3 class="question">Do you want to travel to a highly-populated area or a small society?</h3>
	<form class="answer" action="/PopulationData" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<input type="checkbox" name="pop" value="high">Highly-populated area<br>
		<input type="checkbox" name="pop" value="low">Low populated area<br>
		<input type="submit" value="Next question"/>
	</form>
</div>