<div id="Wrapper">
<div id="Header">
	<h1>Do you want to travel to a highly-populated area or a small society?</h1>
</div>
<div id="Main">
	<form action="">
		<input type="checkbox" pop="wild" value="high">Highly-populated area<br>
		<input type="checkbox" name="pop" value="low">Low populated area<br>
	</form>
	<a href="/Money"><button>Next Page</button></a>
</div>	
</div>