<div id="Wrapper">
<div id="Header">
	<h1 style="color:#39CCCC">Travelers</h1>
</div>
	<h3 class="question">How many people are traveling?</h3>
<form class="answer" action="/TravelersData" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		<input type="checkbox" name="people" value="1">1<br>
		<input type="checkbox" name="people" value="2">2<br>
		<input type="checkbox" name="people" value="3">3<br>
		<input type="checkbox" name="people" value="4">4<br>
		<input class="button" type="submit" value="Next question"/>
	</form>
</div>