<div id="Header">
	<h1>How many people are traveling?</h1>
</div>
<div id="Main">
	<form action="">
		<input type="checkbox" name="people" value="1">1<br>
		<input type="checkbox" name="people" value="2">2<br>
		<input type="checkbox" name="people" value="3">3<br>
		<input type="checkbox" name="people" value="4">4<br>
	</form>

</div>