<div id="Header">
	<h1>Type of weather you prefer?</h1>
</div>
<div id="Main">
	<form action="">
		<input type="checkbox" name="weather" value="Hot">Hot<br>
		<input type="checkbox" name="weather" value="Cold">Cold<br>
		<input type="checkbox" name="weather" value=”Rainy”>Rainy<br>
		<input type="checkbox" name="weather" value=”Snowy”>Snowy<br>
</form>
<a href="/Langauge"><button>Next Page</button></a>
</div>