<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<p>Do you want access to cellular data wherever you go or just your hotel or doesn't matter?</p>
	<form action=””>
	<input type="checkbox" name="cell value="CellE">I want cellular data everywhere<br>
	<input type="checkbox" name="cell" value="CellH">Cellular data in the hotel is enough<br>
	<input type="checkbox" name="cell" value="CellN">Do not really need cellular data on my trip<br>
	</form>

	<p>Do you want access to calling?</p>
	<form>
	<input type="checkbox" name="cell" value="CallY">Yes<br>
	<input type="checkbox" name="call" value="CallN">Do not really need cellular data on my trip<br>
	</form>


	<p>You need a flu shot for these listed locations, would you travel there and get one? It is recommended to stay healthy.</p>
	<form>
	<input type="checkbox" name="flu" value="FluY">Yes I will get a flu shot<br>
	<input type="checkbox" name="flu" value="FluYN">No I will not get a flu shot but still want to travel there<br>
	<input type="checkbox" name="flu" value="FluN">No I will not get a flu shot and want to go to a location that does not require flu shots<br>
	</form>
</h10>

<h10 class="background3">
	<p>Do you mind being near dangerous animals during your trip?</p>
	<form>
	<input type="checkbox" name="animal" value="AnimalY">I want to be far away from dangerous animals during my trip<br>
	<input type="checkbox" name="animal" value="AnimalN">It is fine if there are dangerous animals in my location during the trip<br>
	</form>

	<p>Do you require free wifi</p>
	<form>
	<input type="checkbox" name="wifi" value="WifiY">Yes, I would like free wifi at my hotel<br>
	<input type="checkbox" name="wifi" value="WifiN">Do not really need wifi<br>
	</form>

</body>
</html>