<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<p>Do you want to travel to an English speaking location or a certain language?</p>

	<form>
	  Choose Language:<br>
	  <input type="text" name="language"><br>
	</form>
</body>
</html>